%h1 NoAlTroll
%form{:method=>"POST",:action=>"/procesar_mensaje"}
  %p
    Ingrese un mensaje:
    %br
    %textarea{:name=>"mensaje",:cols=>"50",:rows=>"6"}
  %p
    %b Categorías:
    %br
    - session[:categorias].keys.map(&:to_s).each do |x|
      %input{:type=>"checkbox", :name=>"#{x}", :value=>"on", :checked=>""} #{x}
      %br
    %input{:type=>"checkbox", :name=>"prefijos", :value=>"on", :checked=>""} Prefijos
    %br
  %p
    %b Filtros:
    %br
    - session[:filtros].keys.map(&:to_s).each do |x|
      %input{:type=>"checkbox", :name=>"#{x}", :value=>"on"} #{x}
      %br
  %p
    %input{:type=>"submit"}
