%h1 Mensaje: #{session[:mensaje]}
%h2 Es publicable? #{session[:resultado].publicable? ? "Sí" : "No"}
%h2 Insultos: #{session[:resultado].insultos.to_a.to_s}
%div
  %a{:href=>"/"} Ingresar otro mensaje
